<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>[RedeemGift] - Yêu cầu khôi phục mật khẩu</title>
</head>
<body style="font-family: 'Times New Roman', Georgia, Serif;">
    <!--div bao-->
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse!important;border:1px solid #d9d9d9;width:665px;margin:0 auto" align="center">
        <tr>
            <td bgcolor="#16a086" style="padding:20px 20px 0px 20px;">
                <h1 style="color:#fff;font-size: 27px;">THÔNG BÁO KHÔI PHỤC MẬT KHẨU</h1>
            </td>
        </tr>      
        <!--div nội dung mail-->
        <tr>
            <td style="padding:20px 20px 0px 20px;">
                <p style="font-size: 17px;margin-top: 6px;margin-bottom: 10px;">Xin chào {name},</p>
                <p style="line-height:28px;font-size: 17px;margin-top: 6px;margin-bottom: 10px;">Bạn đã gửi một yêu cầu khôi phục mật khẩu đăng nhập hệ thống RedeemGift</p>
                <p style="line-height:28px;font-size: 17px;margin-top: 6px;margin-bottom: 10px;">Vui lòng nhấn vào link bên dưới để thực hiện khôi phục mật khẩu <a href="{url}">link</a> </p>
				<p style="line-height:28px;font-size: 15px;color:red;"><strong><i>Link có hiệu lực trong 15 phút. Bỏ qua e-mail này nếu bạn không thực hiện yêu cầu khôi phục mật khẩu.</i></strong></p>
                <p style="line-height:28px;font-size: 15px;color:red;"><strong><i>(*) Vui lòng không phản hồi email này. Đây là email được gửi bằng hệ thống tự động.</i></strong></p>                             
            </td>
        </tr>
    </table>
</body>
</html>